In [1]:
my_obj = 45

In [8]:
my_int = 10L  #L represents integer
print(my_int)

[1] 10

In [11]:
# 1 Create a Vector data structure - should be of same data type
my_vec1 = c(1L,2L,3L)
print(my_vec1)
my_vec2 = 1:3
print(my_vec2)
my_vec3 = seq(from = 1, to = 10, by = 2)
print(my_vec3)

[1] 1 2 3
[1] 1 2 3
[1] 1 3 5 7 9

In [17]:
#Functions
length(my_vec3)
class(my_vec3)  #to know fundamental data type
class(my_vec1)
typeof(my_vec3)
typeof(my_vec1)
str(my_vec3) #str define structure of the object.

[1] 5

[1] "numeric"

[1] "integer"

[1] "double"

[1] "integer"

 num [1:5] 1 3 5 7 9

In [19]:
#Access elements of vector
my_vec3[4]
#Modify vector element
my_vec3[4] = 3
print(my_vec3)

[1] 7

[1] 1 3 5 3 9

In [21]:
#Missing Data
my_vec4 = c(1,2,NA,4)
print(my_vec4)
is.na(my_vec4)
anyNA(my_vec4)

[1]  1  2 NA  4

[1] FALSE FALSE  TRUE FALSE

[1] TRUE

In [25]:
# 2 List Data Structure - can contain different data type.
my_list1 = list(5,'name',c(1,3,5,7))
print(my_list1)

[[1]]
[1] 5

[[2]]
[1] "name"

[[3]]
[1] 1 3 5 7

In [28]:
# Assign names to slots of List
names(my_list1) = c('one','two','three')
str(my_list1)
#Accessing list elements
my_list1[3] #gives slot name and elements
my_list1$three #gives list elements as slot name is already defined.

List of 3
 $ one  : num 5
 $ two  : chr "name"
 $ three: num [1:4] 1 3 5 7

$three
[1] 1 3 5 7

[1] 1 3 5 7

In [32]:
# 3 Matrix Data Structure is an atomic vector with one or more dimensions.
my_matrix1 = matrix(c(1,2,3,4), nrow = 2, ncol = 2)
print(my_matrix1)

my_matrix2 = matrix(c(1,2,3,4,5,6), nrow = 2, ncol = 3, byrow = TRUE)
print(my_matrix2)

     [,1] [,2]
[1,]    1    3
[2,]    2    4
     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6

In [34]:
# Assign row names and column names
rownames(my_matrix2) = c('one','two')
colnames(my_matrix2) = c('col1','col2','col3')
str(my_matrix2)
#Access elements of matrix
my_matrix2[1,2]

 num [1:2, 1:3] 1 4 2 5 3 6
 - attr(*, "dimnames")=List of 2
  ..$ : chr [1:2] "one" "two"
  ..$ : chr [1:3] "col1" "col2" "col3"

[1] 2

In [36]:
# 4 Dataframe data structure is list of lists with each sublist of same length.It is like a rectangular list.
#create a dataframe manually
ID = c('A','B','C')
Age = c(24,26,29)
Height = c(167,180,177)
df1 = data.frame(ID,Age,Height)
df1

  ID Age Height
1 A  24  167
2 B  26  180
3 C  29  177

In [43]:
# first n rows
head(df1,1)
# last n rows
tail(df1,2)
# Dimensions od df rows and columns
dim(df1)
# rows in df
nrow(df1)
# cols in df
ncol(df1)

  ID Age Height
1 A  24  167

  ID Age Height
2 B  26  180
3 C  29  177

[1] 3 3

[1] 3

[1] 3

[1] "A" "B" "C"

In [47]:
# Access df elements of a column
df1[['ID']]
# Access df elements of a row
df1[2,] #giving row name and comma will give entire row info
# Access multiple columns
df1[c('ID','Age')]

[1] "A" "B" "C"

  ID Age Height
2 B  26  180

  ID Age
1 A  24
2 B  26
3 C  29

In [50]:
# 5 Factor data structure is a vector that can contain only predefined values, and is used to store categorical data
# Create a factor for storing list of genders
gender = factor(c('male','female','male','female'))
print(gender) #Levels will give distinct values
# Functions of Gender
levels(gender)
# Modifying gender
gender[1] = 'Female'
print(gender)

[1] male   female male   female
Levels: female male

[1] "female" "male"

Warning message in `[<-.factor`(`*tmp*`, 1, value = "Female"):
“invalid factor level, NA generated”

[1] <NA>   female male   female
Levels: female male

In [60]:
# Importing Data in R
#file = 'http:/openmv.net/file/food-texture.csv'
file = '/content/food-texture.csv' #file under content folder will be removed after session ends which is drawback in colab
foodData = read.csv(file, header = TRUE, row.names = 1, stringsAsFactors = FALSE)
#foodData
dim(foodData)
#Get rows and columns
nrow(foodData)
ncol(foodData)
#structure of dataframe
str(foodData)
#Functions
mean(foodData$Density)
apply(foodData, 2, mean) #2 refers column wise direction applying mean to all columns and 1 referes to row wise direction
apply(foodData[c('Oil','Density')], 2 , mean)

[1] 50  5

[1] 50

[1] 5

'data.frame':	50 obs. of  5 variables:
 $ Oil     : num  16.5 17.7 16.2 16.7 16.3 19.1 18.4 17.5 15.7 16.4 ...
 $ Density : int  2955 2660 2870 2920 2975 2790 2750 2770 2955 2945 ...
 $ Crispy  : int  10 14 12 10 11 13 13 10 11 11 ...
 $ Fracture: int  23 9 17 31 26 16 17 26 23 24 ...
 $ Hardness: int  97 139 143 95 143 189 114 63 123 132 ...

[1] 2857.6

     Oil  Density   Crispy Fracture Hardness
  17.202 2857.600   11.520   20.860  128.180

     Oil  Density
  17.202 2857.600